node_modules/
client/node_modules
/client/build
/config/default.json

/client/build/.env.local
/client/build/.env.development.local
/client/build/.env.test.local
/client/build/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*